[MASTER]
ignore=migrations,tests

[BASIC]
const-rgx=(([A-Z_][A-Z0-9_]*)|([a-z_][a-z0-9_]*)|(__.*__)|register|urlpatterns)$
good-names=_,i,j,f,k,e,qs,pk,setUp,tearDown

[MESSAGES CONTROL]
disable=C0111,I0011,R0903,R0904,R0924,W0232
