django==1.4.5
django-celery
django-cacheback
-e git+https://github.com/bashu/django-hitcount.git#egg=django-hitcount
-e git+https://github.com/kmmbvnr/django-jenkins.git#egg=django-jenkins
pep8
pyflakes
