django>=1.4,<1.5
django-celery>=3.0,<3.1
django-cacheback==0.5
django-classy-tags==0.4
django-hitcount-headless==0.2.beta
model-mommy
django-discover-runner
git+https://github.com/kmmbvnr/django-jenkins.git#egg=django-jenkins
flake8
